<form #personForm="ngForm">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName" name="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName">
  </div>

  <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>

</form>
