<nav class="navbar navbar-toggleable-md navbar-inverse navbar-dark bg-dark fixed-top">
  <a class="navbar-brand text-white" routerLink='/'>
    <strong>MessageQLPage</strong>
  </a>
  <ul class="nav navbar-nav">
    <li *ngIf="isLoggedIn" class="nav-item">
      <button class="btn btn-primary" (click)="signOut()">Sign Out <i class="ion-log-in" data-pack="default"
                                                                      data-tags="sign in"></i></button>
    </li>
  </ul>
</nav>
