<h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
  <button (click)="onCreatePerson()">create person</button>
  <button (click)="getAllPersons()">get all persons</button>
  <ul>
    <li *ngFor="let person of persons">
      {{person.personId}} # {{person.firstName}} - {{person.lastName}}
    </li>
  </ul>
  <button (click)="clickAddPerson()">add person</button>
  <app-person-form *ngIf="showPersonForm"></app-person-form>
</div>
